cairocffi==1.6.1
CairoSVG==2.7.1
cffi==1.15.1
click==8.1.7
cssselect2==0.7.0
defusedxml==0.7.1
markdown-it-py==3.0.0
mdurl==0.1.2
Pillow==10.0.0
pycparser==2.21
Pygments==2.16.1
rich==13.5.2
tinycss2==1.2.1
toml==0.10.2
wcwidth==0.2.6
webencodings==0.5.1
xmltodict==0.13.0
